/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#todoolean-template { display: none; }

/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
G E N E R A L
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

body {
  /* SIZE */
  /* STYLE */
  background: #fcfcfc;
  /* TYPOGRAPHY */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */
}

.container {
  /* SIZE */
  width: 80%;
  margin: 32px auto;
  /* STYLE */
  /* TYPOGRAPHY */
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */
}

.add-todo-container {
  /* SIZE */
  margin-bottom: 32px;
  /* STYLE */
  /* TYPOGRAPHY */
  /* DISPLAY */
  display: flex;
  /* POSITION */
  /* INTERACTION */
}

.add-todo-container input {
  /* SIZE */
  width: 200px;
  padding: 4px;
  margin-right: 8px;
  /* STYLE */
  /* TYPOGRAPHY */
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */
}

.add-todo-container button {
  /* SIZE */
  padding: 4px 8px;
  /* STYLE */
  /* TYPOGRAPHY */
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */
  cursor: pointer;
}

i.delete-todo {
  /* SIZE */
  margin-left: 12px;
  /* STYLE */
  /* TYPOGRAPHY */
  color: darkred;
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */
  cursor: pointer;
}

li.todo {
  /* SIZE */
  margin-bottom: 8px;
  /* STYLE */
  /* TYPOGRAPHY */
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */
}
